.example-spacer {
  flex: 1 1 auto;
}

.colorr{
    background-color: #f8b7b7;
}

.colorr span{
    font-size: xx-large;
}

.colorr i{
    font-size: 30px;
    color: rgb(0, 0, 0);
/* height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center; */
  }
  .spa{
      width: 80px;
  }