<app-header></app-header>

<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Icon styles-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <body>
        <div class="bg" >  
            <mat-drawer-container class="bg" >
                <mat-drawer #drawer mode="side" opened>
                    <h1>Numtip</h1>
                    <mat-list role="list" class="side-bar">
                        <a href="/homepro">
                            <mat-list-item role="listitem">HOME</mat-list-item>
                        </a>
                        <a href="/createdefect">
                            <mat-list-item role="listitem">Create Defect</mat-list-item>
                        </a>
                        <a href="/board">
                            <mat-list-item role="listitem">Board</mat-list-item>
                        </a>
                        <a href="/home">
                            <mat-list-item role="listitem">Exit</mat-list-item>
                        </a>
                  
                    </mat-list>
                </mat-drawer>
            
                <mat-drawer-content>
                    <div class="right-side">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="drawer.toggle()">reorder</mat-icon>
                        <h2 style="width: 300px; height: 20px; padding-left: 20px;">Create New Defect</h2>

                        <div class="ph-float">
                            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black" 
                            class='ph-button ph-btn-red'>CANCEL</button>

                            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black" 
                            class='ph-button ph-btn-green' >SAVE</button>
                        </div> 
                    
                    </div>

                    <div > 

                        <div class="row" style="padding-left: 2%; width: 100%;">
                            <div class="col-sm">
                                <p class="date">Date : </p>
                                <p class="date1">28/12/2020</p>
                            </div>
                            <div class="col-sm">
                                <p class="date">ID Report : </p>
                                <p class="date1">#120</p>
                            </div>
                            <div class="col-sm">
                                <p class="date">Project name : </p>
                                <p class="date1">Numtip</p>
                            </div>
                            <div class="col-sm">
                                <p class="date" >Tester : </p>
                                <p class="date1">เรณุกา บุตรดา</p>
                            </div>
                        </div>

                          
                        <div class="row" style="width: 100%;">
                            <div class="col-sm-6" style="padding-left: 5%;">
                                <div>
                                    <p class="f3">Title : </p>
                                    <div class="input-group form-group" style="width: 600px;">
                                        <input type="text" class="form-control" placeholder="Title" >
                                    </div>
                                </div>
                                <div>
                                    <p class="f3">Environment Details : </p>
                                    <div class="input-group form-group" style="width: 600px;">
                                        <!-- <input type="text" class="form-control" placeholder="Environment Details" > -->
                                        <textarea class="form-control" id="message-text" placeholder="Environment Details" ></textarea>
                                    </div>
                                </div>
                                <div>
                                    <p class="f3">Step to reproduct : </p>
                                    <div class="input-group form-group" style="width: 600px;">
                                        <!-- <input type="text" class="form-control" placeholder="Step to reproduct" > -->
                                        <textarea class="form-control" id="message-text" placeholder="Step to reproduct" ></textarea>
                                    </div>
                                </div>
                                <div>
                                    <p class="f3">Actual Result : </p>
                                    <div class="input-group form-group" style="width: 600px;">
                                        <!-- <input type="text" class="form-control" placeholder="Actual Result" > -->
                                        <textarea class="form-control" id="message-text" placeholder="Actual Result" ></textarea>
                                    </div>
                                </div>
                                <div>
                                    <p class="f3">Expected Result : </p>
                                    <div class="input-group form-group" style="width: 600px;">
                                        <!-- <input type="text" class="form-control" placeholder="Expected Result" > -->
                                        <textarea class="form-control" id="message-text" placeholder="Expected Result" ></textarea>
                                    </div>
                                </div>
                                <div>
                                    <p class="f3">Attachment : </p>

                                    <div class="input-group form-group" style="width: 600px;">
                                        <input type="file"  class="form-control" (change)="onFileSelected($event)">
                                    </div>
                                </div>

                        
                                
                            </div>

                            <div class="col-sm-3" style="padding-left: 8%; padding-top: 0.5%;">
                                <div >
                                    <p class="f3">Status : </p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Backlog</option>
                                        <option value="1">Doing</option>
                                        <option value="2">Ready for Test</option>
                                        <option value="3">Done</option>
                                    </select>
                                </div>
                                <div style="padding-top: 3%;">
                                    <p class="f3">Severity : </p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>None</option>
                                        <option value="1">Critical</option>
                                        <option value="2">Major</option>
                                        <option value="3">Normal</option>
                                        <option value="4">Minor</option>
                                    </select>
                                </div>
                                
                            </div>

                            <div class="col-sm-3" style="padding-left: 6%; padding-top: 0.5%;">
                                <div>
                                    <p class="f3">Expected Result : </p>
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                    name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                            </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- <hr/>
                                    <pre>Model: {{ model | json }}</pre> -->
                                </div>
                                <div style="padding-top: 3%;">
                                    <p class="f3">Expected Result : </p>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>None</option>
                                        <option value="1">Hathaichanok</option>
                                        <option value="2">Renuka</option>
                                        <option value="3">Jutarmart</option>
                                    </select>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                        
                    </div>


                </mat-drawer-content>
            </mat-drawer-container>
        </div>       
    </body>
</html>




