body,
html {
  height: 100%;
  margin: 0;
}

.mcenter {
    place-self: center;
}

.bg {
  background-color:#f8b7b7 ;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.but{
  background-color: #50E468 ;
  color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

.f1 {
  font-family: "Lucida Console", monospace;
  padding-top: 10px;
  font-size: 35px;
  font-style: normal;
  font-weight: 1000;	
  
  /* padding: 0px 10px 0px; */
  
}

/*
    Name:           ph-buttons
    Description: 	Pixcil Hub Buttons
    Author: 		   Pixcils®
    Version: 	  	1.0
*/

/*Main button class
==========================*/
.ph-button {
	
  border-style: solid;
  border-width: 0px 0px 2px;
  /* box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset; */
  color: #FFFFFF;	   
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;	
  font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
  font-weight: 700;	
  padding: 10px 39px 10px;
  font-size: 18px;
}
/*Green
==========================*/
.ph-btn-green {

  border-color: #3AC162;
  background-color: #5FCF80;

}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
  background-color: #4BC970;
  border-color: #3AC162;    
}

/*DEMO ONLY FOR CENTER POSITION*/
.ph-container {
  margin: 0 auto;
  display: inline;
}

.ph-float {
  float: left;
  height: 50px;
  width: 95%;
  padding: 5px;  
  padding-top: 2px;  
  text-align: right;
}

.ph-clear {
  clear: both;
}

.search{
  height: 20px;
}

.pink{
  background-color: #FFAEAE;
}

.f2{
  /* position: center; */
  width: 280px;
  height: 40px;
  /* left: 100px;
  top: 10px; */
  text-align: center;
  padding-top: 5px;
  /* padding-left: 200px; */

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  /* identical to box height */


  color: #000000;
}

.inline{
  display: inline;
}
.date{
  display: inline;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.date1{
  display: inline;
  padding: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.f3{
  /* display: inline; */
  padding-top: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.f4{
  /* display: inline; */
  padding-top: 1%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}


.searchh{
  size: 100%;
}

.sub_btn{
  color: rgb(255, 255, 255);
  background-color: #0ac40a;
  width: 100px;
}

.cancel_btn{
  color: rgb(255, 255, 255);
  background-color: #ff0000;
  width: 100px;
}

.line {
  border-top: 1px solid rgb(0, 0, 0);
}

.sh-float{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 3%;  
  /* text-align: right; */
}
.line1 {
  /* padding-top: 5%; */
  height: 10%;
  border-top: 1px solid rgb(0, 0, 0);
  
}