<app-header></app-header>
<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Custom styles-->
    <body>
        <div class="bg">  
            <nav class="navbar navbar-light " style="background-color: #DA5D5D;">
                <!-- Navbar content -->
                <div class="ph-float">
                    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black" class='ph-button ph-btn-green'>Create Project</button>
                    <!-- <button  class='ph-button ph-btn-green'(click)="onButtonClick()">Create Project</button> -->
                    <!-- <a href='#' class='ph-button ph-btn-green'>Create Project</a> -->
                </div> 
            </nav>

            <!-- Search form -->
            <div class="sh-float" >
                <form class="form-inline waves-light" >
                    <div class="md-form mt-0" >
                        <span class="material-icons-outlined"></span>
                    <input class="form-control mr-sm-2" style="width: 200%;" type="text" placeholder="Search for Project by name">
                    
                    </div>
                </form> 
            </div>
            <!-- <div class="line1" ></div> -->
            <div style="padding-top: 5%;" >
                <!-- <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <button class="btn btn-primary"(click)="homepro()">Go somewhere</button>
                    </div>
                    
                </div> -->
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="card" (click)="homepro()" style="width: 18rem;">
                            <div class="card-inner">
                                <div class="header">
                                    <h2>น้ำทิพท์</h2>
                                </div>
                                <div class="content">
                                    <p>Content area</p>
                                </div>
                                <div align="end">
                                    <i class="fas fa-lock-open"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" (click)="homepro()" style="width: 18rem;">
                             <div class="card-inner">
                                <div class="header">
                                    <h2>น้ำgx]jk</h2>
                                </div>
                                <div class="content">
                                    <p>Content area</p>
                                </div>
                                <div align="end">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" (click)="homepro()" style="width: 18rem;">
                             <div class="card-inner">
                                <div class="header">
                                    <h2>น้ำสิงห์</h2>
                                </div>
                                <div class="content">
                                    <p>Content area</p>
                                </div>
                                <div align="end">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="card" (click)="homepro()" style="width: 18rem;">
                            <div class="card-inner">
                                <div class="header">
                                    <h2>น้ำทิพท์</h2>
                                </div>
                                <div class="content">
                                    <p>Content area</p>
                                </div>
                                <div align="end">
                                    <i class="fas fa-lock-open"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" (click)="homepro()" style="width: 18rem;">
                             <div class="card-inner">
                                <div class="header">
                                    <h2>น้ำgx]jk</h2>
                                </div>
                                <div class="content">
                                    <p>Content area</p>
                                </div>
                                <div align="end">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" (click)="homepro()" style="width: 18rem;">
                             <div class="card-inner">
                                <div class="header">
                                    <h2>น้ำสิงห์</h2>
                                </div>
                                <div class="content">
                                    <p>Content area</p>
                                </div>
                                <div align="end">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
           

            <div class="w3-container">
                <!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button> -->
            
                <div id="id01" class="w3-modal" >
                    <div class="w3-modal-content" >
                        <div class="card">
                            <div class="card-header">
                                <span onclick="document.getElementById('id01').style.display='none'" 
                                    class="w3-button w3-display-topright" >&times;</span>
                                    <h2 class="f2">Create New Project</h2>
                            </div>
                            <div class="card-body">
                                <form>
                                    <p class="date" style="display: inline;" >Date</p>
                                    <p class="date1" >28/12/2020</p>
                                    <p class="f3">Project Name</p>
                                    <div class="input-group form-group">
                                        <input type="text" class="form-control" placeholder="project name">
                                    </div>
                                    <p class="f3">Project Manager</p>
                                    <div class="input-group form-group">
                                        <input type="text" class="form-control" placeholder="project manager">
                                    </div>
                                    <div class="input-group form-group" style="display: inline;">
                                        <i class="fas fa-user" style="size: 20px;"></i>
                                        <p class="f3" style="display: inline; padding: 2%;">Add Member</p>
                                    </div>
                                    

                                    <p class="f4">Tester</p>
                                    <div class="input-group form-group">
                                        <input type="text" class="form-control" placeholder="Tester name" > 
                                    </div>
                                    <p class="f4">Developer</p>
                                    <div class="input-group form-group">
                                        <input type="text" class="form-control" placeholder="Developer name" > 
                                    </div>

                                    <footer class="line">
                                        <div style="padding-top: 2%;">
                                            <a routerLink="/home">
                                                <input onclick="document.getElementById('id01').style.display='none'"  type="submit" value="Submit" class="btn float-left sub_btn" >
                                            </a>
                                            <a routerLink="/home">
                                                <input onclick="document.getElementById('id01').style.display='none'" type="submit" value="Cancle" class="btn float-right cancel_btn" >
                                            </a>
                                        </div> 
                                    </footer>
                                    
                                    
            
                                </form>
                            </div>
                        </div>

                        <!-- <header class="w3-container w3-teal" class="pink"> 
                        <span onclick="document.getElementById('id01').style.display='none'" 
                        class="w3-button w3-display-topright" >&times;</span>
                        <h2 class="f2">Create New Project</h2>
                        </header>
                    
                        <div class="w3-container">
                            <form action="">
                                <p class="date" style="display: inline;" >Date</p>
                                <p class="date1" >28/12/2020</p>
                                <p class="f3">Project Name</p>
                                <input type="text">
                                <p class="f3">Project Manager</p>
                                <input type="text">
                                <img src="/assets/images/user.png" alt="">
                                <p>Tester</p>
                                <input type="text">
                                <p>Developer</p>
                                <input type="text">
                            </form>
                        
                        </div>

                        <footer class="w3-container w3-teal" class="pink" style="padding: 5px;">
                        <p style="display: inline;">Modal Footer</p>
                        <button style="display: inline;">create</button>
                        </footer> -->

                    </div>
                </div>
                
            </div>

        </div>       
        
    </body>
</html>


